.hero {
  width: 100%;
  height: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  background: var(--color-brand);
  background: linear-gradient(328deg, rgb(210, 59, 65) 0%, rgba(242, 160, 163, 1) 100%);
}

.form-wrapper {
  position: relative;
  height: 100%;

  & .form {
    width: min(100%, 400px);
    padding: 8px 64px;
    background: #fff;
    border-radius: 12.5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    position: absolute;
    left: -380px;
    top: 50%;
    transform: translate(50%, -50%);
  }
}

@media screen and (max-width: 1520px) {
  .form-wrapper {
    & .form {
      width: min(100%, 380px);
      padding: 8px 32px;
      background: #fff;
      border-radius: 12.5px;
      box-shadow: 0 0 20px rgba(0,0,0,0.05);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
