@import "primeicons/primeicons.css";

body {
  background: oklch(98.5% 0.002 247.839);
  direction: rtl;

  font-family: Vazirmatn, sans-serif;
}

.p-step-number {
  font-family: "Vazirmatn FD", sans-serif;
}
